.body {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  letter-spacing: 0;
}

#container {
  border: 1px solid red;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.header {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: antiquewhite;
}
div {
  border: 0px solid red;
}

.logo {
  display: flex;
}

.logo > div {
  margin: auto 0px;
}

.logo-img {
  height: 80px;
  width: 80px;
}

.header > a {
  text-decoration: none;
  color: #262262;
  font-style: italic;
}
.header > a span {
  font-size: large;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 2px 3px #265973;
}

.nav-bar > ul {
  display: flex;
  list-style-type: none;
}

.nav-bar > ul > li {
  color: #262262;
  margin: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurent-card {
  width: 250px;
  padding: 20px;
}

.restaurent-img {
  width: 254;
  height: 160;
}

.restaurent-card {
  margin: 20px;
}

.description {
  margin-top: 20px;
}

.restaurent-name {
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
}

.cusine {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
